$sans-serif:    'Roboto', "HelveticaNeue", "Helvetica", Arial, sans-serif;
$blau:          #003399;
$hellbau:       #81ADDF;
$schwarz:       #3E3D40;
$grau:          #707173;
$rot:           #FF0000;


$text-shadow:   0 4px 6px rgba(0, 0, 0, .16);
$btn-shadow:    0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
